<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="defaultrcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="defaultrcp.Perspective"
            id="defaultRCP.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="defaultrcp.views.MainView"
            id="defaultRCP.views.mainview"
            name="MainView"
            restorable="true">
      </view>
      <view
            class="defaultrcp.views.SecondView"
            id="defaultRCP.views.secondview"
            name="Second View"
            restorable="true">
      </view>
      <view
            class="defaultrcp.views.ThirdView"
            id="defaultRCP.views.thirdview"
            name="ThirdView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="defaultRCP.commands.exit"
            name="Exit">
      </command>
      <command
            id="defaultRCP.commands.hello"
            name="Hello">
      </command>
      <command
            defaultHandler="defaultrcp.handlers.DefaultHandler"
            id="defaultRCP.commands.referenceToMenuId"
            name="ReferenceToMenuID">
      </command>
      <command
            id="defaultRCP.commands.entrywizard"
            name="Entry Wizard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="defaultrcp.handlers.ExitHandler"
            commandId="defaultRCP.commands.exit">
      </handler>
      <handler
            class="defaultrcp.handlers.HelloHandler"
            commandId="defaultRCP.commands.hello">
      </handler>
      <handler
            class="defaultrcp.handlers.EntryWizardHandler"
            commandId="defaultRCP.commands.entrywizard">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="defaultRCP.menuFile"
               label="File">
            <command
                  commandId="defaultRCP.commands.exit"
                  id="defaultRCP.menuFile.exit"
                  label="Exit"
                  style="push">
            </command>
            <command
                  commandId="defaultRCP.commands.hello"
                  label="Hello"
                  style="push">
            </command>
            <command
                  commandId="defaultRCP.commands.entrywizard"
                  id="defaultRCP.menuFile.entry wizard"
                  label="Entry Wizard"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  label="Export"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="Import"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="defaultRCP.toolbar1"
               label="Primary ToolBar">
            <command
                  commandId="defaultRCP.commands.exit"
                  id="defaultRCP.toolbar1.exit"
                  label="Exit"
                  style="push">
            </command>
            <separator
                  name="defaultRCP.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="defaultRCP.commands.hello"
                  label="Hello"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="defaultRCP.toolbar3">
            <command
                  commandId="defaultRCP.commands.referenceToMenuId"
                  label="PullDown Menu"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:defaultRCP.commands.referenceToMenuId">
         <command
               commandId="defaultRCP.commands.exit"
               label="Exit"
               style="push">
         </command>
         <command
               commandId="defaultRCP.commands.hello"
               label="Hello"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.main.popup">
         <command
               commandId="defaultRCP.commands.exit"
               label="Exit"
               style="push">
         </command>
         <command
               commandId="defaultRCP.commands.hello"
               label="Hello"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="defaultRCP.perspective">
         <view
               id="defaultRCP.views.mainview"
               minimized="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false">
         </view>
         <view
               id="defaultRCP.views.secondview"
               minimized="false"
               ratio="0.5f"
               relationship="right"
               relative="defaultRCP.views.mainview"
               visible="false">
         </view>
         <view
               id="defaultRCP.views.thirdview"
               minimized="false"
               ratio="0.25f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="defaultRCP.commands.hello"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Z">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="defaultrcp.wizards.EntryToWizard"
            id="defaultRCP.wizards.entrytowizard"
            name="Entry To Wizard">
      </wizard>
      <wizard
            class="defaultrcp.holidaywizard_new.HolidayWizard"
            id="defaultRCP.wizards.holidaywizard"
            name="Entry HolidayWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="defaultrcp.wizards.EntryToWizard"
            id="defaultRCP.exportwizard"
            name="Export Wizard Entry">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="defaultrcp.wizards.EntryToWizard"
            id="defaultRCP.importwizard"
            name="Import Wizard Entry Point">
      </wizard>
   </extension>

</plugin>
