<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="complexlayoutexample.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="ComplexLayout Perspective"
            class="complexlayoutexample.Perspective"
            id="ComplexLayoutExample.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="FormLayoutView"
            class="complexlayoutexample.views.FormLayoutView"
            id="ComplexLayoutExample.FormLayoutView">
      </view>
      <view
            class="complexlayoutexample.views.SimpleFormLayoutView"
            id="ComplexLayoutExample.view.SimpleFormLayoutView"
            name="Simple FormLayout"
            restorable="true">
      </view>
      <view
            class="complexlayoutexample.views.RowLayoutView"
            id="ComplexLayoutExample.view.RowLayoutView"
            name="Row Layout"
            restorable="true">
      </view>
      <view
            class="complexlayoutexample.views.GridLayoutView"
            id="ComplexLayoutExample.view.GridLayoutView"
            name="GridLayout"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="ComplexLayoutExample.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
